h1 {
    color: red;
}

.header-class {
    background-color: #e5f600;

    text-align: center;
}


/* 很多浏览器已自动适配了reponsive和保持aspect ratio  */
.menu-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.menu-item-tonkotsu {
    font-family: Arial, sans-serif;
    font-style: italic;
    border: 2px solid blue;
    padding: 10px;
    margin-bottom: 15px;
}

.menu-item-shoyu {
    font-family: 'Times New Roman', serif;
    font-style: italic;
    border: 2px solid green;
    padding: 10px;
    margin-bottom: 15px;
}

.menu-item-miso {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 15px;
}


.menu-item-veggie {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-style: italic;
    border: 2px solid purple;
    padding: 10px;
    margin-bottom: 15px;
}

.opening-hours {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* 表头和单元格样式 */
.opening-hours th,
.opening-hours td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* 表头样式 */
.opening-hours th {
    background-color: #f2f2f2;
    color: black;
}

/* 斑马纹样式 */
.opening-hours tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 悬停效果 */
.opening-hours tr:hover {
    background-color: #e9e9e9;
}

footer {
    background-color: #222; 
    color: rgb(216, 213, 213); 
    text-align: center; 
    padding: 10px 0; 
    margin-top: 20px; 
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex: 0 1 auto;
}

nav, .menu, .opening-hours {
    flex: 1 1 auto;
}


/* 默认状态下的样式 */
nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

/* 悬停时的样式 */
nav ul li a::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: blue; /* 更改下划线颜色 */
    transform: scaleX(0); /* 初始状态下缩放为0，没有下划线 */
    transition: transform 0.3s;
}

nav ul li a:hover::before {
    transform: scaleX(1); /* 鼠标悬停时扩展下划线 */
}


